/* General Page CSS */

html {
    font-family: 'Roboto', sans-serif;
    min-width: 825px;
}

.hero-background {
    background-color: #1F2937;
}

.footer-background {
    background-color: #1F2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-secondary-text > div > a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
    padding: 10px 0px 10px 0px;
    width: 200px ;
}

/* Hero */
.header-full {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 100px;
}

.header-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    width: 800px;
}

.container-header-top {
    display: flex;
}

.container-header-bot {
    display: flex;
}

.hero-text-container {
    max-width: 400px;
    max-height: 210px;
    flex: 1;
}

.header-links{
    display:flex ;
    gap: 1rem ; 
    width: 600px;
    align-items: center;
    justify-content: flex-end;
}

.header-sign-up {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
    margin-top: 1rem;
}
.header-sign-up:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.header-sign-up:active {
	position:relative;
	top:1px;
}

.img-placeholder {
    width: 400px;
    height: 210px;
    background-color: #808080 ;
    font-size: 18px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Body Information */

.body-top-full {
    display: flex;
    justify-content: center;
    width: 100%;
}

.body-top-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
}

.random-info {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 40px;
}

.illustrations {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.illustration-with-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.illustration-img{
	border-radius:6px;
	border:3px solid #337fed;
    width: 150px;
    height: 150px;
}

.illustration-text {
    text-align: center;
}

/* Body Quote */
.body-quote-full {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 36px;
}

.body-quote-center {
    background-color: #E5E7EB;
    width: 800px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.body-quote-center > .quote {
    font-weight: 300;
}

.body-quote-center > .thor {
    text-align: right;
}

/* Body Call To Action */
.cta-full {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
}

.cta-center {
    display: flex;
    justify-content: space-around;
    width: 800px;
    background-color: #3882F6;
    border-radius:6px;
    height: 100px;
    align-self: center;
}

.cta-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-text-tittle {
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.cta-text-secondary {
    font-size: 12px;
    color: white;
}

.cta-sign-up{
    display: flex;
}

.cta-sign-up-button {
    display: flex;
    align-self: center;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	border-radius:6px;
	border:1px solid white;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
    height: 21px;
}
.cta-sign-up-button:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.cta-sign-up-button:active {
	position:relative;
	top:1px;
}

/* Footer */

.footer-full {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1F2937;
}

.footer-center {
    text-align: center;
    width: 800px;
    align-self: center;
    padding: 25px;
    color: white;
}